.gallery img {
    width: 100%;
}
h2 {
    font-family: impact, fantacy:
    text-align: center;
    font: size 40px;
    color: #ff66ff;
    font-style: italic;
}
h4 {
    font-family: impact, fantacy:
    font: size 20px;
    color: #ff66ff;
    font-style: italic;
}
p {
     font-family: helvetica. sans-serif;
}